<mat-nav-list class="links-nav-container">
  <a mat-list-item (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <div class="spacer"><hr /></div>
  <a mat-list-item (click)="onClose()">
    <mat-icon>upcoming</mat-icon>
    <span class="nav-caption">Events</span>
  </a>
  <div class="spacer"><hr /></div>
  <a mat-list-item (click)="onClose()">
    <mat-icon>shopping_bag</mat-icon>
    <span class="nav-caption">Store</span>
  </a>
  <div class="spacer"><hr /></div>
  <a mat-list-item (click)="onClose()">
    <mat-icon>login</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <div class="spacer"><hr /></div>
  <a mat-list-item (click)="onClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Register</span>
  </a>
  <div class="spacer"><hr /></div>
</mat-nav-list>
