
<ngb-carousel class="header-container">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper carr-div">
        <img src="../../../assets/img/1.jpg"   alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Beyond words</h3>
        <p>Explore every beautiful destination</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper carr-div">
        <img src="../../../assets/img/2.jpg"   alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Dream Big</h3>
        <p>Travel more, create more memories</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper carr-div">
        <img src="../../../assets/img/3.jpg"   alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Travel Styles</h3>
        <p>The right tour for the right traveler</p>
      </div>
    </ng-template>
</ngb-carousel>