<main class="main">
  <img
    src="../../../assets/img/secondslide.jpg"
    class="register-image"
    alt=""
  />
  <div class="register">
    <h1 class="title">CREATE ACCOUNT</h1>

    <form class="credentials">
      <mat-form-field class="input">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="First Name" />
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Last Name" />
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Username" />
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Password</mat-label>
        <input type="password" matInput />
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Date of birthday</mat-label>
        <input type="date" matInput placeholder="Birthday Date" />
      </mat-form-field>

      <mat-checkbox
        class="example-margin"
        class="terms-services"
        color="primary"
        >I agree all statements in <a>Terms of service </a>
      </mat-checkbox>

      <button class="register-button" mat-raised-button color="primary">
        Register
      </button>
    </form>
  </div>
</main>
