<main class="profile-info">
  <img src="../../../assets/img/7.jpg" class="bgProfile-img" />

  <div class="profile-image-name">
    <div class="edit-profile">
      <img src="../../../assets/img/profile.JPG" class="profile-img" />
      <button class="button" mat-raised-button color="primary">
        Edit profile
      </button>
      <button class="button" mat-raised-button color="primary">
        Create Event
      </button>
    </div>
    <h1 class="profile-name">Selma Ayachi</h1>
  </div>
  <div class="spacer"></div>
  <div class="data">
    <div>
      <p>50</p>
      <p>events</p>
    </div>
    <div>
      <p>8/10</p>
      <p>rates</p>
    </div>
  </div>
</main>
