<div class="image-container">
  <img src="../../../assets/img/profile-imgs/event3.jpg" />
  <div class="image-text">
    <h1>Camiping in Zaghouan</h1>
    <p class="date"><mat-icon>event</mat-icon>10/05/2021</p>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere doloribus
      blanditiis mollitia voluptates repellat, pariatur incidunt! Doloremque
      quaerat architecto voluptate.
    </p>
    <button class="button" mat-raised-button>Read More</button>
  </div>
</div>
